body {
    background-color: firebrick;
    color: rgb(240,230,140);
    font-size: 100%;
    font-family: 'VT323', monospace;
}
header {
    background-image: url(sky.jpg);
    background-image: url("https://jlaw21.github.io/Resources/mario-pipe.png");
    background-size: contain;
    font-family: 'Press Start 2P', cursive;
    font-variant: small-caps;

}
section {
    background-color: dodgerblue;
}
section header {
    color: black;
    background-color: dodgerblue;
}
footer {
    background-color: peru
}
h3 {
    color: #6A0400;
    font-size: 1.4em;
    font-style: oblique;
}
nav {
    background-color:#FFD987;
    border: 10px solid transparent;
    border-image: url("https://jlaw21.github.io/Resources/mario-bricks.PNG") 30% round;
    
}
aside {
    color: black;
    background-color: darkgoldenrod;
    background-image: url("https://jlaw21.github.io/Resources/mario.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    font-size: 1.5em;
}
p {
    font-variant: small-caps;
    font-size: 20px;
}